name: Run Go Tests

on:
  pull_request:
    branches: [ "main" ]  

jobs:
  test:
    runs-on: ubuntu-latest  

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4 

      - name: Instalar Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.2  

      - name: Instalar dependências
        run: go mod tidy 

      - name: Rodar testes unitários
        run: go test -v ./...  
